/*SELETOR DE IDIOMA*/
.language-switcher-language-url ul{
    list-style: none;
    padding-inline-start: 0px;
    margin-block-end: auto;
}
  /*linha 2 global*/
.language-switcher-language-url ul li {
      display: inline;
      padding-right: 6px;
}

/*BUSCA*/
  /*tamanho do campo */
.region-header-right .search-block-form .form-item .form-search {
    width: 100%;
    box-sizing: border-box;
    height: 40px;
}