/* menu principal azul ***/
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus, .nav>li.active>a, .nav>li.active>a:hover, .nav>li.active>a:focus, .nav>li>a.is-active, .nav>li>a:hover, .nav>li>a:focus {
    background-color: #273e74;
    color: #fff;
}
/*
.nav-item{
    border-right: 0.020em solid white;
}
*/

/* menu principal dropdown ***/
.dropdown-item {
    color: #fff;
    text-align: left;
    background-color: #273e74;
    width: 100%;
    border: 0.050em solid #142653;
  }

  .dropdown-item:hover, .dropdown-item:focus {
    color: #fff;
    text-decoration: none;
    background-color: #273e74;
  }

  .dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #273e74;
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 5rem;
    padding: 0rem 0;
    margin: 0 0 0;
    font-size: 1rem;
    color: #fff;
    text-align: left;
    list-style: none;
    background-clip: padding-box;
    background-color: #273e74;
  }

 .navbar-nav li:last-child > .dropdown-menu a {
    text-align: left !important;
}

/* Navbar */
.navbar-collapse {
  padding: 0px;
}
.navbar {
  margin-bottom: 0px;
  min-height: inherit;
  border-radius: 0px;
  border: none;
  z-index: 500;
}
.navbar-nav>li>a {
  text-transform: uppercase;
  color: #fff;
}

/* Dropdown menu */
.navbar-nav .dropdown-menu {
  border-radius: 0px;
  border: none;
  padding: 0px;
}
.dropdown-menu li{
  border-bottom: 1px dotted #003954;
}
.dropdown-menu>li>a {
  padding: 8px 15px;
  font-size: 14px;
  color: #fff;
  display: block;
}

.dropdown-submenu  svg, .dropdown-submenu  i{
  padding: 4px 5px;
  box-sizing: content-box;
}

.dropdown-submenu a{
  font-size: 14px;
}
.dropdown-submenu, .main-navigation-dropdown {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

}
.nav.navbar-nav .main-navigation-dropdown{
  padding-right: 8px;
  display: flex;
}
.main-navigation-dropdown a::after {
  content: none;
  padding: 2px 4px;
  color: #fff;
}


.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    padding: 0px;
    color:#fff;
}

@media (min-width: 768px){
  .dropdown-submenu:hover > .dropdown-menu {
    display: block;
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  }
  .dropdown:hover > .dropdown-menu {
    display: block;
 }
  /* Dropdown menu */
  .navbar-nav .dropdown-menu {
    width: max-content !important;
    min-width: 100%;
  }
}



.dropdown-submenu:hover > a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}




.navbar-toggle .icon-bar {
  background-color: #fff;
}


@media(max-width: 767px) {
  .dropdown-menu.toggle {
    display: block;
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  }
  .dropdown-menu > li svg{
    transform: rotate(90deg);
  }
  .navbar-toggler span{
    filter: contrast(1) saturate(1) invert(1);
  }
  .navbar-toggler{
    padding: 0 6px;
    margin: 6px 0px 6px 12px;
  }
  .navbar-collapse,
  .navbar-header {
    width: 100%;
  }
  .dropdown:hover > .dropdown-menu,
  .dropdown-submenu > .dropdown-menu {
    position: inherit;
    float: none;
    left: 0;
  }
  .open .dropdown-menu {
    display: block;
  }
  .navbar-nav {
    margin: 0px;
  }
  .navbar-collapse {
    max-height: initial;
  }
  .navbar-nav .open .dropdown-menu>li>a, .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 8px 30px;
  }
}

.dropright .dropdown-menu {
  top: 0;
  right: auto;
  left: 100%;
  margin-top: 0;
  margin-left: 0.125rem;
}

.dropright .dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid transparent;
  border-right: 0;
  border-bottom: 0.3em solid transparent;
  border-left: 0.3em solid;
}

.dropright .dropdown-toggle:empty::after {
  margin-left: 0;
}

.dropright .dropdown-toggle::after {
  vertical-align: 0;
}

.block-menu > h2 {
  background-color: #273e74;
  color: #fff;
  display: block;
  text-align: center;
  border: none;
  padding: 10px;
  text-transform: uppercase;
  font-size: 1.3em;
  margin: 0 0 25px 0;
}
