/* menu principal azul ***/
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus, .nav>li.active>a, .nav>li.active>a:hover, .nav>li.active>a:focus, .nav>li>a.is-active, .nav>li>a:hover, .nav>li>a:focus {
    background-color: #273e74;
    color: #fff;
}
.nav-item{
    border-right: 0.020em solid white;

}
/* menu principal dropdown ***/
.dropdown-item {
    color: #fff;
    text-align: left;
    background-color: #273e74;
    width: 100%;
    border: 0.050em solid #142653;
  }
  
  .dropdown-item:hover, .dropdown-item:focus {
    color: #fff;
    text-decoration: none;
    background-color: #273e74;
  }
  
  .dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #273e74;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 5rem;
    padding: 0rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #fff;
    text-align: left;
    list-style: none;
    background-clip: padding-box;
    background-color: #273e74;
  }

 .navbar-nav li:last-child > .dropdown-menu a {
    text-align: left !important;
}
  